.Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btns {
  display: flex;
  gap: 150px;
}

.btns button {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  background: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 2px #3333337d;
}

.btns button:hover {
  width: 100px;
  background: #195bf4;
}
